{% extends "jobs/gallerybase.html" %}

{% block content %}


  <body class="text-center" >

            <li><a href="/">Home</a></li>
            <li class="galleries dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Gallery views<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photologue/gallery/">Date views</a></li>
                <li class="sub-page"><a href="/photologue/gallerylist/">List views</a></li>
              </ul>
            </li>
            <li class="photos dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Photo views<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photologue/photo/">Date views</a></li>
                <li class="sub-page"><a href="/photologue/photolist/">List views</a></li>
              </ul>
              </li>


</body>





{% endblock %}
